.btn {
  border-radius: 8px;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  &__primary {
    border: 1px solid $primary-hover;
    color: #111;
    background: $primary;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px $primary-hover;
    }

    &:hover {
      background: $primary-hover;
    }
  }
}
